@media only screen and (min-width : 480px) {
	.modal {
		flex: 0 0 400px;
	}
	.phone-card {
		flex: 0 0 320px;
		// .phone-card__title
		&__title {
			font-size: 1.8rem;
		}
	}
	.add-card {
		&__item {
			flex: 0 0 430px;
		}
	}
	.busket {
		align-items: center;
		// .busket__item
		&__item {
			width: 434px;
		}

		// .busket__info
		&__info {
			font-size: 1.8rem;
		}

		// .busket__btn-del
		&__btn-del {
			font-size: 2rem;
		}

		&__bttm-total {
			justify-content: center;
			font-size: 2rem;

			& * {
				padding: 0 1rem;
			}
	
			& * > span {
				margin: 0 .5rem 0 0;
			}
		}
	}
}

@media only screen and (min-width : 685px) {
	.main-body {
		// justify-content: space-between;
	}
	.phone-card {
		flex: 0 0 320px;
	}
}

@media only screen and (min-width : 768px) {
	.modal {
		// .modal__lbls
		&__lbls {
			font-size: 1.8rem;
		}
		// .modal__inps
		&__inps {
			font-size: 1.8rem;
		}
	}
	.busket {
		// .busket__list
		&__list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 0;
		}
		// .busket__item
		&__item {
			flex: 0 0 49%;
		}
	}
	.custom-chbx {
		font-size: 1.8rem;
	}
	.btns {
		// .btns__btn
		&__btn {
			font-size: 2.2rem;
		}
	}
	.modal-error {
		font-size: 1.8rem;
	}

	.header {

		// .header__menu
		&__menu {
			flex: 0 0 50%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&_alone {
				justify-content: flex-end;
				cursor: pointer;
			}
		}

		// .header__curr-user
		&__curr-user {
			border: none;
			cursor: pointer;
			&::before {
				display: none;
			}
			&:hover {
				background-color: transparent;
				color: $white;
			}
		}
		// .header__menu-list
		&__menu-list {
			padding: 0;
			position: static;
			top: auto;
			left: auto;
			height: auto;
			display: flex;
			justify-content: space-around;
			align-items: flex-start;
			background-color: transparent;

			&_exit {
				display: none;
			}
		}
		// .header__item
		&__item {
			&:not(:last-child) {
				margin: 0;
			}
		}

		// .header__item-link
		&__item-link {
			padding: 1rem;
			color: $white;
			&:hover {
				box-shadow: .2rem .2rem 2rem rgba(131, 131, 131, 0.39);
			}
		}
	}
	.add-card {
		justify-content: space-between;
		&__item {
			flex: 0 0 48%;
		}
		// .add-card__lbl
	 	&__lbl {
			 font-size: 1.8rem;
		}

		// .add-card__btn
		&__btn {
			font-size: 2rem;
		}
	}
	
}

@media only screen and (min-width : 1024px) {
	.add-card {
		justify-content: space-between;
		&__item {
			flex: 0 0 19%;
		}
	}

	.busket {
		// .busket__list
		&__list {
			padding: 1.5rem 0;
		}
		// .busket__item
		&__item {
			flex: 0 0 30%;
			margin: 0 0 1.5rem 0;
		}
	}
}