$modalWrapBG : #202124da;
$modalBg : #1E485C;
$modalBorder : #666F7A;
$modalTxt : #919191;
$modalInputBSh : #d6d4d4;
$modalChbx : rgb(170, 168, 168);
$modalChbxChecked : #FDB700;
$btnRegistr : rgba(140, 255, 95, 0.575);
$btnSubmit : rgba(95, 111, 255, 0.575);
$white : #fff;